<nav class="navbar-fixed-top main-nav" role="navigation">

  	<!-- Mobile menu toggle button (hamburger/x icon) -->
	<input id="main-menu-state" type="checkbox" />
	<label class="main-menu-btn" for="main-menu-state">
    	<span class="main-menu-btn-icon"></span> Toggle main menu visibility
  	</label>

  	<h2 class="nav-brand"><a href="http://mxcmia.com">Mia's BlackBox</a></h2>

	  <!-- Sample menu definition -->
	<ul id="main-menu" class="sm sm-blue">
            <li id="blognav"><a href="http://blog.mxcmia.com">My Blog</a>	
	    </li>
	    <li class="has-mega-menu"><a>My Apps</a>
	      	<ul class="mega-menu">
	        	<li>
		          	<div class="column-1-3">
		            	<h2>Tap sound</h2>
		            	<a href="http://app.mxcmia.com/tapsound">
			            	<div class="mega-menu-sample-image">
			            		<img src="http://mxcmia.com/img/tapsound.png">
			            	</div>
		            	</a>
		          	</div>
		          	<div class="column-1-3">
		            	<h2 class="hcenter">ToDo List</h2>
		            	<a href="http://app.mxcmia.com/todo">
			            	<div class="mega-menu-sample-image">
			            		<img class="vcenter" src="http://mxcmia.com/img/todo.jpg">
			            	</div>
		            	</a>
		          	</div>
		          	<div class="column-1-3">
		            	<h2>CampRez(Constructing)</h2>
		            	<p>This is an Online camping reservation App</p>
		          	</div>
	        	</li>
	        	<li>
		          	<div class="column-1-3">
		            	<h2>Movie Search</h2>
		            	<a href="http://app.mxcmia.com/movie">
					<div class="mega-menu-sample-image">
			            		<img class= "vcenter" src="http://mxcmia.com/img/movie.jpg">
			            	</div>
		            	</a>
		          	</div>
	        	</li>
	      	</ul>
	    </li>
	    <li class="has-mega-menu"><a href="http://mxcmia.com/mia.html">Mia's Gallery</a>
	      	<ul class="mega-menu">
	        	<li>
	          		<div class="column-1-3">
	            		<a href="http://mxcmia.com/mia.html">
		            		<div class="mega-menu-sample-image2 vcenter">
		            			<img class="vcenter" src="http://mxcmia.com/img/DSC01638.JPG">
		            		</div>
	            		</a>
	          		</div>
	          		<div class="column-1-3">
	            		<a href="http://mxcmia.com/mia.html">
		            		<div class="mega-menu-sample-image2">
		            			<img class="vcenter" src="http://mxcmia.com/img/DSC02146.JPG">
		            	</div>
	            	</a>
	          		</div>
	          		<div class="column-1-3">
	            		<a href="http://mxcmia.com/mia.html">
		            		<div class="mega-menu-sample-image2 vcenter">
		            			<img class="vcenter" src="http://mxcmia.com/img/DSC01637.JPG">
		            	</div>
	            	</a>
	          		</div>
	        	</li>
	      	</ul>
	    </li>
	    <li><a>About Me</a>
	      	<ul>
	        	<li><a href="http://mxcmia.com/resume.html">Resume</a></li>
	        	<li><a href="https://www.linkedin.com/in/xianchen-meng-a7a141115/">LinkedIn</a></li>
	      	</ul>
	    </li>
	    <li><a href="http://mxcmia.com/resume.html">Contact</a></li>
	  </ul>
	</nav>
	<a href="http://blog.mxcmia.com"><img src="http://mxcmia.com/img/blog.png" id="blogimg"></a>
<script type="text/javascript" src="http://app.mxcmia.com/nav/js/menu.js"></script>
