<!DOCTYPE html>
<html>
<head>
	<%- include ../../partials/navhead.ejs %>
	<link rel="stylesheet" type="text/css" href="/todo/assets/css/todo.css">
	<title>Todo List</title>
</head>
<body>
	<%- include ../../partials/nav.ejs %>
	<div class="container">
		<div class="jumbotron">
		<h1>This is my Todo List</h1>
		<p>Lots of things to do</p>
		</div>
	</div>
	<div class="container">
		<div class="center main">
			<input type="text" id="todoInput"  placeholder="Add New Todo">
			<table class="table table-hover" id="mytable">
				<% 
				result.sort(function(a, b){
					return a.id - b.id;
				});
				for (var i = 0; i < result.length; i++) {
				%>
				<tr id= <%= result[i].id %>>
					<td class= <% if(result[i].line) {%> "lineThrough" <% } %>><span><i class="fa fa-trash"></i></span></span><%= result[i].thing %></td>
				</tr>
				<%	
				}	
				%>
			</table>
		</div>
	</div>
	<script type="text/javascript" src="/todo/assets/js/todo.js"></script>
</body>
</html>