<!DOCTYPE html>
<html>
<head>
	<%- include ../../partials/navhead.ejs %>
	<title>TapSound</title>
	<script type="text/javascript" src="/tapsound/assets/js/howler.js"></script>
	<script type="text/javascript" src="/tapsound/assets/js/paper.js"></script>
	<script type="text/paperscript" canvas="canvas">
	var x = 0;
	var y = 0;
	var circle = [];
	var keyData = {
		q: {
			sound: new Howl({
	  		src: ['/tapsound/assets/sounds/bubbles.mp3']
			}),
			color: '#1abc9c'
		},
		w: {
			sound: new Howl({
	  		src: ['/tapsound/assets/sounds/clay.mp3']
			}),
			color: '#2ecc71'
		},
		e: {
			sound: new Howl({
	  		src: ['/tapsound/assets/sounds/confetti.mp3']
			}),
			color: '#3498db'
		},
		r: {
			sound: new Howl({
	  		src: ['/tapsound/assets/sounds/corona.mp3']
			}),
			color: '#9b59b6'
		},
			t: {
			sound: new Howl({
	  		src: ['/tapsound/assets/sounds/dotted-spiral.mp3']
			}),
			color: '#34495e'
		},
		y: {
			sound: new Howl({
	  		src: ['/tapsound/assets/sounds/flash-1.mp3']
			}),
			color: '#16a085'
		},
		u: {
			sound: new Howl({
	  		src: ['/tapsound/assets/sounds/flash-2.mp3']
			}),
			color: '#27ae60'
		},
		i: {
			sound: new Howl({
	  		src: ['/tapsound/assets/sounds/flash-3.mp3']
			}),
			color: '#2980b9'
		},
		o: {
			sound: new Howl({
				src: ['/tapsound/assets/sounds/glimmer.mp3']
			}),
			color: '#8e44ad'
		},
		p: {
			sound: new Howl({
	  		src: ['/tapsound/assets/sounds/moon.mp3']
			}),
			color: '#2c3e50'
		},
		a: {
			sound: new Howl({
	  		src: ['/tapsound/assets/sounds/pinwheel.mp3']
			}),
			color: '#f1c40f'
		},
		s: {
			sound: new Howl({
	  		src: ['/tapsound/assets/sounds/piston-1.mp3']
			}),
			color: '#e67e22'
		},
			d: {
			sound: new Howl({
	  		src: ['/tapsound/assets/sounds/piston-2.mp3']
			}),
			color: '#e74c3c'
		},
		f: {
			sound: new Howl({
	  		src: ['/tapsound/assets/sounds/prism-1.mp3']
			}),
			color: '#95a5a6'
		},
		g: {
			sound: new Howl({
	  		src: ['/tapsound/assets/sounds/prism-2.mp3']
			}),
			color: '#f39c12'
		},
		h: {
			sound: new Howl({
	  		src: ['/tapsound/assets/sounds/prism-3.mp3']
			}),
			color: '#d35400'
		},
		j: {
			sound: new Howl({
	  		src: ['/tapsound/assets/sounds/splits.mp3']
			}),
			color: '#1abc9c'
		},
		k: {
			sound: new Howl({
	  		src: ['/tapsound/assets/sounds/squiggle.mp3']
			}),
			color: '#2ecc71'
		},
		l: {
			sound: new Howl({
	  		src: ['/tapsound/assets/sounds/strike.mp3']
			}),
			color: '#3498db'
		},
		z: {
			sound: new Howl({
	  		src: ['/tapsound/assets/sounds/suspension.mp3']
			}),
			color: '#9b59b6'
		},
		x: {
			sound: new Howl({
	  		src: ['/tapsound/assets/sounds/timer.mp3']
			}),
			color: '#34495e'
		},
		c: {
			sound: new Howl({
	  		src: ['/tapsound/assets/sounds/ufo.mp3']
			}),
			color: '#16a085'
		},
		v: {
			sound: new Howl({
	  		src: ['/tapsound/assets/sounds/veil.mp3']
			}),
			color: '#27ae60'
		},
		b: {
			sound: new Howl({
	  		src: ['/tapsound/assets/sounds/wipe.mp3']
			}),
			color: '#2980b9'
		},
		n: {
			sound: new Howl({
				src: ['/tapsound/assets/sounds/zig-zag.mp3']
			}),
			color: '#8e44ad'
		},
		m: {
			sound: new Howl({
	  		src: ['/tapsound/assets/sounds/moon.mp3']
			}),
			color: '#2c3e50'
		}
	} 
	function onKeyDown(e) {
		if (keyData[e.key]) {
			var maxP = new Point(view.size.width, view.size.height);
			var ranP = new Point.random();
			var p = maxP * ranP;
			var newCircle = new Path.Circle(p, 500);
			var data = keyData[e.key];
			newCircle.fillColor = data.color;
			data.sound.play();
			circle.push(newCircle);		
		}

	}
	function onFrame(e) {
		for (var i = 0; i < circle.length; i++) {
			circle[i].fillColor.hue += 1;
			circle[i].scale(0.95);
			if (circle[i].area < 1) {
				circle[i].remove();
				circle.splice(i,1);
				console.log(circle);
			}
		}

	}
	</script>
	<link rel="stylesheet" type="text/css" href="/tapsound/assets/css/tapsound.css">

</head>
<body>
	<%- include ../../partials/nav.ejs %>
	<canvas id="canvas" resize></canvas>
</body>
</html>